.home-container {
    background-color: #F5F5F5;
    margin: 520px;
    padding: 20px;
    border-radius: 30px;
}

:root {
    background-color:
        #D1D0D9;
}

@media (min-width: 320px) {
    .home-container {
        margin: 20px;
    }
}


@media (min-width: 768px) {
    .home-container {
        margin: 50px 50px;
    }
}

@media (min-width: 1024px) {
    .home-container {
        margin: 100px 120px;
    }
}

@media (min-width: 1440px) {
    .home-container {
        margin: 100px 500px;
    }
}